.acedemic-section{
    margin: 3rem 0 0 5rem;
    color:#075548;
}
.pro{
    margin-top: 3rem;
}
.hi{
    font-size:1.5rem;

    text-align: left;
}
.hi-1{
    padding:2rem 2rem 2rem 2rem ;
    border-bottom:1rem solid #075548;
    color: #075548;
    font-size:2rem;
    margin: 2rem 2rem 2rem 2rem  ;
}
.uh{
    margin: 52rem 2rem 2rem 2rem  ;
}